a(class="sidebar-item" hx-get="/load/" + project._id hx-target="#app-container" hx-swap="innerHTML" hx-trigger="click")
  img(src=project.image alt=project.title)
  span(class="text") #{project.title}
  link(rel="preload" href=project.remote crossorigin)
