div.h-full.section-padding-equal.sticky.top-0.flex.flex-col.justify-center.p-4.w-full.font-bold(style="color: #2c3e50; background: #e8e8e3;")
  div.animate-on-scroll-enter.contact-grid.grid.grid-flow-col.justify-evenly.auto-cols-auto.auto-rows-auto.w-full(hx-get='/load/contact-list', hx-trigger='load', hx-target='.contact-grid', hx-swap='innerHTML')
