extends ../index.pug

block content
  section.h-auto.font-bold#Contact(class="mb-[-100svh]" style="color: #2c3e50; background: #e8e8e3; overflow-x: hidden;")
    div.h-svh.section-padding-equal.sticky.top-0.flex.flex-col.justify-center.p-4.width-max
      include ../components/contact.pug
